//colors
$bgblue: #19222D;
$fbrown: #9B6441;

//general
* {
    box-sizing: border-box;
}
body {
    background: $bgblue;
    color: white;
}

.primary-wrapper {
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.top-text {
    text-align: center;
    width: 100%;
    max-width: 726px;
    margin: 0 auto 70px;
    h3 {
        margin-bottom: 16px;
    }
}